@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body{
	font-family: 'Montserrat', sans-serif;
	background-color: #f8f5f2;
}

.bxs-user-circle{
	font-size: 30px;
	color: #6d5b4b;
}

.bx-edit{
	font-size: 30px;
	color: #6d5b4b;
}

.card{
	box-shadow: 10px 10px 14px -8px rgba(0,0,0,0.43);
-webkit-box-shadow: 10px 10px 14px -8px rgba(0,0,0,0.43);
-moz-box-shadow: 10px 10px 14px -8px rgba(0,0,0,0.43);
}

.header-title{
	background-color: #dbcbbe;
}

.title-login{
	color: #6d5b4b;
	font-size: 25px;
}

.text-title{
	color: #6d5b4b;
}

.btn-submit{
	background-color: #dbcbbe;
	color: #ffff;
	width: 50%;
}

.btn-submit:hover{
	background-color: #6d5d4b;
	color: #ffff;
}

.card-footer{
	background-color: #dbcbbe;
}

.h6-footer{
	font-size: 10px;
	color: #dbcbbe;
}