@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body{
	font-family: 'Montserrat', sans-serif;
	}

.card-banner{
	background: #6d5b4b !important;
	box-shadow: none;
	border: none;
}

.banner-title{
	font-size: 50px;
	font-weight: lighter;
	color: #ffff;
}

.btn-announcement{
	color: #ffff;
	background-color: #6d5b4b;
	border-radius: 10px !important;
}

.btn-announcement:hover{
	color: #262626;
	background-color: #ffff;
	border: 1px solid #6d5b4b;
}

.card{
	border-radius: 10px;

}

.card-header{
	background-color: #858280 !important;
	color: #ffff;
}

.card-content{
	font-size: 50px;
	color: #6d5b4b;
	font-weight: bold;
}

.bxs-user-plus{
	font-size: 30px;
}

.bx-reset{
	font-size: 20px;
	color: #858280;
}

.btn-update{
	background-color: transparent;
	border-bottom: 1px solid #32cd32;
}
.btn-update:hover{
	/*background-color: #32cd32;*/
	border-radius: 90px;
	border: 1px solid #32cd32;
}

.bxs-printer{
	font-size: 20px;
	color: #858280;
}

.btn-print{
	background-color: transparent;
	border-bottom: 1px solid #3895d3;
}

.btn-print:hover{
	/*background-color: #7DF9FF;*/
	/*border-bottom: 1px solid #7DF9FF;*/
	border: 1px solid #3895d3;
	border-radius: 90px;
}

.dropdown-filter-year{
	background-color: #c5ac97;
	color: #ffff;
	border: 1px solid black;
	border-radius: 10px;
}

.btn-create-baptismal{
	background-color: #c5ac97;
	color: #ffff;
	border-radius: 10px;
}

.btn-create-baptismal:hover{
	background-color: #ffff;
	border: 1px solid #6d5b4b;
}

.btn-generate-report{
	background-color: transparent;
	border-bottom: 1px solid #6d5b4b;
	border-radius: 10px;
}

.btn-generate-report:hover{
	background-color: #c5ac97;
	border: 1px solid #6d5b4b;
	border-radius: 10px;
}

.bxs-file-pdf{
	font-size: 30px;
}

/*marriage css*/
.bx-arrow-back{
	color: #dbcbbe !important;
	font-size: 45px !important;
	margin-left: 50px !important;
}
.bx-arrow-back:hover{
	color: #858280 !important;
	font-size: 45px !important;
	margin-left: 50px !important;
}

.row-border{
	border-bottom: 1px solid #dbcbbe;
	margin-bottom: 15px;
}

.col-5{
	border-left: 1px solid #dbcbbe;
}

.btn-form-submit{
	background-color: #dbcbbe;
	color: #ffff;
	width: 50%;
}

.btn-form-submit:hover{
	background-color: #6d5b4b;
	color: #ffff;
}

.marriage-form-footer{
	background-color: #ffff;
	border: none;
}

/*request*/

.filter-status{
	background-color: #c5ac97;
	color: #ffff;
	border-radius: 10px;
	border: 1px solid black;
}
.badge-pending{
	background-color: #ff0000;
}
.badge-processing{
	background-color: #fafa33;
	color: #000000;
}
.badge-done{
	background-color: #32cd32;
}
.bxs-check-circle{
	font-size: 25px;
	color: #858280;
}
.btn-confirm{
	background-color: transparent;
	border-bottom: 1px solid black;
}
.btn-confirm:hover{
	background-color: #6d5d4b;
	border-radius: 90px;
}

/*members*/

.btn-enable{
	background-color: #32cd32;
	color: #ffff;
	font-size: 12px;
}
.btn-disable{
	background-color: #ff0000;
	color: #ffff;
	font-size: 12px;
}

/*modal*/

.modal-header{
	background-color: #f8f5f2;
}

.modal-title{
	color: #6d5b4b;
}

.modal-btn-baptismal{
	background-color: #dbcbbe;
	color: #ffff;
}

.modal-btn-baptismal:hover{
	background-color: #6d5b4b;
	color: #ffff;
}