/*body{
	background-color: #f8f5f2;
}*/

.body-content{
	margin-left: 100px;
	margin-top: 20px;
	margin-right: 20px;

}
.title{
	margin-bottom: 10px;
}
#datatable{
	border: 1px solid #6d5b4b;
	border-radius: 10px;
	width: 100%;
	padding: 10px;

}
.table{
	overflow-y: hidden;
	overflow-y: hidden;
}
.settings{
	border: 1px solid #1261A0;
	border-radius: 10px;
	padding: 10px;
	width: 100%;

}
.update{
	margin-top: 10px;
	margin-bottom: 15px;

}
.top-nav{
	background-color: #f8f5f2;
}

.dropdown-menu a{
	display: flex;
	vertical-align: middle;
}

.topnav_icon{
	font-size: 1.2rem;
	margin-left: 10px;
	padding-top: 1px;
}



.card-top-banner{
	background-color: #6d5b4b;
	box-shadow: none;
	border: none;
}
