body{
	overflow-x: hidden;
	/*overflow-y: hidden;*/
}

.announcement{
	text-decoration: none;
	color: #6d5b4b;
	font-weight: bold;
}

.announcement:hover{
	text-decoration: none;
	color: #262626;
	border-bottom: 1px solid#262626;
}

.event{
	text-decoration: none;
	color: #6d5b4b;
	font-weight: bold;
}

.event:hover{
	text-decoration: none;
	color: #262626;
	border-bottom: 1px solid #262626;
}

.row-content{
	margin-top: 20px;
}

.left-con{
	/*border-right: 1px solid #dbcbbe;*/
}

.alert-success{
	font-size: 18px;
}

.alert-danger{
	font-size: 18px;
}

.btn-secondary{
	background-color: #c5ac97;
	border: none;
}

.btn-secondary:hover{
	background-color: #6d5b4b;
}

.card{
	box-shadow: 7px 10px 17px 0px rgba(0,0,0,0.16);
	-webkit-box-shadow: 7px 10px 17px 0px rgba(0,0,0,0.16);
	-moz-box-shadow: 7px 10px 17px 0px rgba(0,0,0,0.16);}

.card-header{
	background-color: #dbcbbe;
}

.mid-con{
  	padding: 22px;
  	width: 50%;
  	height: 720px;
  	overflow: scroll;
}

.mid-con::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.mid-con {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.right-con{
	/*border-left: 1px solid #dbcbbe;*/
	height: 720px;
  	overflow: scroll;
}

.right-con::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.right-con {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.bx-calendar-star{
	color: #fff;
	font-size: 30px;
}

.bx-news{
	color: #fff;
	font-size: 30px;
}

.card-footer{
	background-color: #fff;
	border-top: none;
}


/*right-content*/
